# Configurações do Servidor
PORT=3001

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=escala_facil_db

# Segredos para JWT
JWT_SECRET=seu_segredo_super_secreto_aqui
JWT_EXPIRES_IN=1d

# Outras configurações
NODE_ENV=development
